# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Certificates / keys
*.pem

# Environment files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Deployment
.vercel

# Project-specific
.rork
rork-eslint.config.js
core